body {
        background-color: #000000;
        -webkit-text-fill-color: #F9F9F9;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
}

.navbar {
    background-color: #000000;
    background: none;
    border: none;
    margin-bottom: 20px;
    height: 15%;
}

i {

    font-size: 100px;
}

#weatherTile {
    text-align: center;
}

#quotePadding {
    margin-top: 20px;
}

#weatherForecast {
    list-style: none;
    padding-left: 0;
    
}

.weatherForecastDay {
    border-bottom: 1px solid white;
}

.modal {
    -webkit-text-fill-color: black;
}

#currTemp {
    font-size: 170px;
    display: inline;
}

#weatherIcon {
    display: inline;
}

.bottom-display {
    text-align: center;
}

.top-padding {
    padding-top: 20px;
}

#settings-page {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15px;
    widows: 15px;
    opacity: .5;
}