body {
        background-color: #222222;
        -webkit-text-fill-color: #F9F9F9;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
}

.navbar {
    background-color: #222222;
    background: none;
    border: none;
}

i {

    font-size: 100px;
}

#weatherTile {
    text-align: center;
}

#quotePadding {
    margin-top: 20px;
}

#weatherForecast {
    list-style: none;
    padding-left: 0;
    
}

.weatherForecastDay {
    border-bottom: 1px solid white;
}

.modal {
    -webkit-text-fill-color: black;
}

#currTemp {
    font-size: 170px;
    display: inline;
}

#weatherIcon {
    display: inline;
}